div.scroll-hider {
  max-height: 50px;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0 48px;
  padding: 0 0 40px 0;
  overflow-x: scroll;
}
