button.backward,
button.forward {
  background: rgb(40,40,40);
  border: none;
  bottom: 0;
  color: white;
  margin: auto;
  padding: 0 12px;
  position: absolute;
  top: 0;
}

button.backward:hover,
button.forward:hover {
  color: #0094ff;
  cursor: pointer;
}

button.backward:disabled,
button.forward:disabled {
  color: gray;
  cursor: not-allowed;
}

body:dir(ltr) button.backward {
  left: 8px;
}
body:dir(ltr) button.forward {
  right: 8px;
}

body:dir(ltr) button.backward svg.flip,
body:dir(ltr) button.forward svg.flip {
  transform: rotate(180deg);
}

body:dir(rtl) button.backward {
  right: 8px;
}

body:dir(rtl) button.forward {
  left: 8px;
}

body:dir(rtl) button.backward svg:not(.flip),
body:dir(rtl) button.forward svg:not(.flip) {
  transform: rotate(180deg);
}

